@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  @apply mx-auto max-w-3xl h-screen relative bg-white dark:bg-gray-900;
}

#nprogress .bar {
  background-color: theme("colors.gray.900");
}

#nprogress .peg {
  box-shadow: 0 0 10px theme("colors.gray.900"), 0 0 5px theme("colors.gray.900");
}

@media (prefers-color-scheme: dark) {
  #nprogress .bar {
    background-color: theme("colors.gray.100");
  }

  #nprogress .peg {
    box-shadow: 0 0 10px theme("colors.gray.100"), 0 0 5px theme("colors.gray.100");
  }
}
