@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 dark:bg-gray-900;
}

#__next {
  @apply mx-auto max-w-3xl h-screen relative;
}

#nprogress .bar {
  background-color: theme("colors.gray.900");
}

#nprogress .peg {
  box-shadow: 0 0 10px theme("colors.gray.900"), 0 0 5px theme("colors.gray.900");
}

.dark #nprogress .bar {
  background-color: theme("colors.gray.100");
}

.dark #nprogress .peg {
  box-shadow: 0 0 10px theme("colors.gray.100"), 0 0 5px theme("colors.gray.100");
}
